<head>
    <meta charset="UTF-8">
    <meta name="description" content="DJoz">
    <meta name="keywords" content="DJoz, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DJoz</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="shortcut icon" type="image/png" href="static/icon.jpg" />
    <link rel="icon" type="image/png" href="static/icon.jpg" />

    <!-- Css Styles -->
    <link rel="stylesheet" href="static/layout/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="static/layout/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="static/layout/css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="static/layout/css/nowfont.css" type="text/css">
    <link rel="stylesheet" href="static/layout/css/rockville.css" type="text/css">
    <link rel="stylesheet" href="static/layout/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="static/layout/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="static/layout/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="static/layout/css/style.css" type="text/css">
</head>
