<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <title>Songs</title>
    <link rel="shortcut icon" type="image/png" href="../static/fev1M1.png">
</head>
<body class="index resultpage">
    <nav>
      <h1 style="text-align: center; margin-bottom: 1rem;">Top 10 {{ input }} Songs</h1>
    </nav> 
  
    <div id="box_div" style="display: flex; flex-wrap: wrap; justify-content: center; gap: 1rem;">
      {% for track in music_data %}
        <div style="text-align: center; width: 30%;">
          <p><strong>{{ track.name }}</strong> - {{ track.artist }}</p>
          <iframe src="https://open.spotify.com/embed/track/{{ track.id }}?utm_source=generator"
            width="100%" height="380" frameBorder="0" allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
            style="border-radius: 10px; padding: 0.5rem;">
          </iframe>
        </div>
      {% endfor %}
    </div>
  </body>
  
  
</html>

    


